<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robert.pruebavolley"
    android:versionCode="18"
    android:versionName="3.6.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Clases.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_repre"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ActivityInicial"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:largeHeap="true"
            android:name=".activity.Activity3"
            android:label="@string/title_activity_3"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </activity>
        <activity
            android:largeHeap="true"
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_activity_inicial" >
        </activity>
        <activity
            android:largeHeap="true"
            android:name=".activity.ActivityUpdate"
            android:label="@string/title_activity_activity_update"
            android:theme="@style/AppTheme" >
        </activity>
        <service android:name=".Services.BackgroundService" />

        <receiver
            android:name=".Services.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
